<template name="cardTable">
  <div id="knockedDropArea" class="list-group">
  </div>


  <div class="flex-container">
    <div class='wrapcard deck'>
      <div class="playingCards">
        <ul id='deck' class="table" >
            <li class='sort ui-state-default'>
              <div class="card back">*</div>
            </li>
        </ul>
      </div>
    </div>


      <div class='wrapcard discard'>
        <div class="discard playingCards">
          <ul id='discard' class="table" >
            {{#each discard}}
              <li class='sort ui-state-default'>
                <div class="card playerHand rank-{{rank}} {{suit}}">
                    <span class="rank">{{rank}}</span>
                    <span class="suit">{{{suitSymbol}}}</span>
                </div>
              </li>
            {{/each}}
          </ul>

        </div>
      </div>
      <div id="discardDropArea" class="list-group">
      </div>

      {{#if canknock}}
        <div class='flex-container column' id="knockContainer">
          <button class="btn btn-success" id="knock">Knock</button>
        </div>
        <br>
      {{/if}}



  </div>
</template>
