<template name="gameLayout">
  <!-- <img src="/images/classic-playing-cards.png" id="sprite"> -->

  {{> scoreboard}}

  {{> loginButtons}} vs {{opponent_name}}

  <button class="btn btn-default" id="deletegame">Delete Game</button>

  <div class='flex-container column'>
    <div id="name">
      <h3>It's {{whosTurn}}</h1>
    </div>
    {{>opponent_hand}}

    <br>
    {{> cardTable}}
    <br>
    {{#if canknock}}
      <div class='flex-container' id="name">
        <button class="btn btn-success danger" id="knock">Knock</button>
      </div>
      <br>
    {{/if}}
    {{> player_hand}}
  </div>

</template>
