<template name="opponent_hand">
  <div class='flex-container justify-content' id="opponentHand">
    {{#if endHand}}
      {{#each melded}}
        <div class="playingCards opponent_hand">
          <ul class="table">
            {{test}}
            {{#each meld}}
              {{> opponentCard}}
            {{/each}}
          </ul>
        </div>
      {{/each}}

      {{#if deadwood}}
        <div class="playingCards opponent_hand">
          <ul class="table">
            {{#each deadwood}}
              {{> opponentCard}}
            {{/each}}
          </ul>
        </div>
      {{/if}}

    {{else}}
      <div class="playingCards opponent_hand">
          <ul id="sortable2" class="table">
            <div class="card back">*</div>
            <div class="card back">*</div>
            <div class="card back">*</div>
            <div class="card back">*</div>
            <div class="card back">*</div>
            <div class="card back">*</div>
            <div class="card back">*</div>
            <div class="card back">*</div>
            <div class="card back">*</div>
            <div class="card back">*</div>
        </ul>
      </div>
    {{/if}}
  </div>
</template>
