/* CSS declarations go here */

#droppable {
  display: none;
  border: 2px dashed #f60;
  min-height: 120px;
  min-width:  80px;
  margin-top: 10px;
  margin-left: -80px;
  z-index: 10;
  opacity: 0.1;
  position: relative;
  background-color: blue;
}


.playerHand {
  margin: 0 -1em .5em 0;
}

#scoreboard {
  display: flex;

  flex-direction: column;

  display: none;

}
#scoreboard table {
  margin-top: 3em;
  background-color: rgb(116, 215, 69);
  border-width: 4px;
  border-color: black;
  border-style: solid;

}


.flex-container {
  display: flex;
  /*justify-content:         space-around;*/
  justify-content: center;
}

body {
  width: 65em;
}

.column{
  flex-direction: column;
}

.child {
  margin: auto;  /* Magic! */
}

.wrapcard{
  padding: 1em;
}

.opponent.hand > .card.back {
  /*margin-right: -2em;*/
  margin: 0 3px 3px 3px;
  font-size: 1.4em;
  height: 6.2em;
  width: 3.3em;
}

.opponent_hand{

}

#sortable {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

#sortable li {
  margin: 0 3px 3px 3px;
  font-size: 1.4em;
  height: 6.2em;
  width: 3.3em;
}

div.card > span.suit{
  /*margin-left: 0;
  margin-top: 0;
  position: static;*/
}
