/* CSS declarations go here */

.userListItem{
  padding-bottom: 5px;
}



#knock{
  max-height: 40px;
}

#knockedDropArea {
  display: none;
  border: 2px dashed #f60;
  min-height: 120px;
  /*min-width:  80px;*/
  margin-top: -110px;
  margin-left: 10px;
  margin-bottom: -10px;

  z-index: 10;
  position: relative;
  background-color: rgb(167, 181, 236);
  opacity: 0.2;
}


#discardDropArea {
  display: none;
  border: 2px dashed #f60;
  min-height: 120px;
  min-width:  80px;
  max-width: 120px;
  margin-top: 10px;
  margin-left: -80px;
  margin-bottom: -20px;
  z-index: 10;
  opacity: 0.1;
  position: relative;
  background-color: rgb(167, 181, 236);
  background-color: green);
  opacity: 0.2;
}

.sortable-ghost {
  opacity: 0.3;
}

.playerHand {
  margin: 0 -1em .5em 0;
}

#scoreboard {
  display: flex;
  flex-direction: column;
  display: none;
}

#scoreboard table {
  margin-top: 3em;
  background-color: rgb(116, 215, 69);
  border-width: 4px;
  border-color: black;
  border-style: solid;

}


.flex-container {
  display: -webkit-flex;
  display: flex;
  /*justify-content:         space-around;*/
  justify-content: center;
}

.justify-content {
  -webkit-justify-content: space-around; /* Safari */
  justify-content:         space-around;
}

body {
  width: 65em;
}

.column{
  -webkit-flex-direction: column;
  flex-direction: column;
}

.child {
  margin: auto;  /* Magic! */
}

.wrapcard{
  padding: 1em;
}

.opponent.hand > .card.back {
  /*margin-right: -2em;*/
  margin: 0 3px 3px 3px;
  font-size: 1.4em;
  height: 6.2em;
  width: 3.3em;
}

.opponent_hand{

}

#sortable {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

#sortable li {
  margin: 0 3px 3px 3px;
  font-size: 1.4em;
  height: 6.2em;
  width: 3.3em;
}

div.card > span.suit{
  /*margin-left: 0;
  margin-top: 0;
  position: static;*/
}
